<!-- Copyright 2012, 2013 Machinery Science, LLC   -->
{% extends LinuxCNCTemplate.html %}

{% block definitions %}
    {% set name = 'config' %}
{%end%}

{% block label %}Configuration{% end %}


{% block custom_header %}
    
        <style>
            table.config_grid a { color: #6B78A9; text-decoration: none; }
            table.config_grid a:hover { text-decoration: underline; } 
            table.config_grid { border-collapse: collapse; border: 1px solid #CCB; width: 100%; }
            table.config_grid td, table.config_grid th { padding: 5px; border: 1px solid #E0E0E0; }
            table.config_grid th { background: #E5E5E5; text-align: left; }
            input.invalid { background: red; color: #FDFDFD; }
        </style>
        
        <script type="text/javascript" src="static/editablegrid-2.0.1/editablegrid-2.0.1.js"></script>
        <link rel="stylesheet" href="static/editablegrid-2.0.1/editablegrid-2.0.1.css" type="text/css" media="screen">         
{% end %}

{% block custom_body %}
<p>
    This tab allows editing of the INI file which controls the high-level behavior of the linuxcnc system.  
    This is where the machine setup is described, such as how many axes of motion will be controlled, 
    what kind of user interface will be used, and how fast motors will turn.
</p>
<p>
    A list of all available commands is available in the <a href="http://www.linuxcnc.org/docs/devel/html/config/ini_config.html" target="_blank">linuxcnc INI Configuration Documentation</a>.
</p>

        <div id="top_button_bar">
        <button type="button" id="add_new_section_but" value="Add_New_Section" onclick="ConfigAddSection();">Add New Section</button>
        <button type="button" id="remove_section_but" value="Remove_Section" onclick="ConfigRemoveSection();">Remove Section</button>
        <button type="button" id="add_new_value_but" value="Add_New_Value" onclick="ConfigAddValue();">Add New Value</button>        
        <button type="button" id="write_config" value="Write_Config" onclick="ConfigWrite();">Save Configuration</button>        
        </div>
        
        <div id="midcol">
            <div id="wrap">
                <div id="grid_title">INI File Entries for section:</div>
                <div id="ConfigTable"></div>
            </div>
            <br>
        </div>

        <div id="leftcol">
            <div id="menu_title"><h2>INI File Sections:</h2></div>
            <div id="left_menu"></div>
        </div>

{% end %}

